---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2015&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_7uQjdF9CTlCrkPOwzCRSghPJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_151MzoHTQGbBut9EhiEkxoD1",
          "livemode": false,
          "created": 1416597788,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_151MzoHTQGbBut9EHOn9l8XA",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2015,
            "fingerprint": "KyRAo5ENVNQjHnp1",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Fri, 21 Nov 2014 19:23:08 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_151MzoHTQGbBut9EhiEkxoD1&plan=base&email=ebba_gerhold%40lebsack.org
    headers:
      Authorization:
      - Bearer sk_test_7uQjdF9CTlCrkPOwzCRSghPJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such plan: base; one exists with a name of base, but its ID is 1.",
            "param": "plan"
          }
        }
  recorded_at: Fri, 21 Nov 2014 19:23:08 GMT
recorded_with: VCR 2.9.3
