---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2015&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_7uQjdF9CTlCrkPOwzCRSghPJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_151NEBHTQGbBut9EhFD3k628",
          "livemode": false,
          "created": 1416598679,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_151NEBHTQGbBut9EKGytoL9I",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 3,
            "exp_year": 2015,
            "fingerprint": "KyRAo5ENVNQjHnp1",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "dynamic_last4": null,
            "customer": null
          }
        }
  recorded_at: Fri, 21 Nov 2014 19:38:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_151NEBHTQGbBut9EhFD3k628&plan=base&email=valentin_reilly%40botsford.net
    headers:
      Authorization:
      - Bearer sk_test_7uQjdF9CTlCrkPOwzCRSghPJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-09-08'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1416598680,
          "id": "cus_5BkjA0hGYDbaJM",
          "livemode": false,
          "description": null,
          "email": "valentin_reilly@botsford.net",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5BkjA0hGYDbaJM/subscriptions",
            "data": [
              {
                "id": "sub_5BkjnMGR82gB0H",
                "plan": {
                  "interval": "month",
                  "name": "base",
                  "created": 1416598451,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": "Subscription"
                },
                "object": "subscription",
                "start": 1416598680,
                "status": "active",
                "customer": "cus_5BkjA0hGYDbaJM",
                "cancel_at_period_end": false,
                "current_period_start": 1416598680,
                "current_period_end": 1419190680,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5BkjA0hGYDbaJM/cards",
            "data": [
              {
                "id": "card_151NEBHTQGbBut9EKGytoL9I",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 3,
                "exp_year": 2015,
                "fingerprint": "KyRAo5ENVNQjHnp1",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5BkjA0hGYDbaJM"
              }
            ]
          },
          "default_card": "card_151NEBHTQGbBut9EKGytoL9I"
        }
  recorded_at: Fri, 21 Nov 2014 19:38:00 GMT
recorded_with: VCR 2.9.3
